<!--
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dnslog.web.mapper.UDPMapper">
    <insert id="insert" parameterType="com.dnslog.web.entity.UDPInfo" useGeneratedKeys="true" keyProperty="id">
         insert into dnslog(ip,date,content) values (#{ip},#{date},#{content})
    </insert>
    <select id="select" resultType="com.dnslog.web.entity.UDPInfo">
        select * from  dnslog WHERE id >=(SELECT MAX(id) FROM dnslog)-5 ORDER BY id DESC
    </select>
</mapper>-->
